html{
    font-size: 18px;
    
}

a:active{
  color: light-dark(var(--light), var(--dark));
}

.container {
	max-width: 600px;
	margin: auto;
  
   
}

.card {
    display: flex;
    position: relative;
    border-width: 1px;
  }
  

  .card-line{
    border-bottom: solid;
    border-spacing: 0;
  }
   
  .card {
    display: flex;
    border-radius: 8px;
    padding: 40px;
    border: 1px solid #dfe2e1;
    position:relative;
    flex-direction: column;
  }

  img{
    width: 180px;
    margin-left: -36px;
    border-radius: 120px;
  }
  
  .card:hover {
    border: 1px solid #0aad0a;
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.12);
  }
  
  .card-border{
    display: flex;    
    border-radius: 8px;
    border: 1px solid gray;
    align-items: center;
    gap: 20px;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    margin: 0px;
  }

  .flex-grow{
    flex-grow: 1;
  }
  

  .card-svg{
    height: 90px;
    width: 90px;
  }

  .card-border:hover{
    border: 1px solid #0aad0a;
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.12);
  }

// 
  