html{
    font-size: 18px;
    
}

:root{
  color-scheme: light dark;
  --light-primary: #04395E;  
  --light-color: #010814;
  --light-bg:#62828c;

  --dark-primary:#9A879D;
  --dark-color: #fff;
  --dark-bg:#283a58;
}


body{
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}




.container {
	max-width: 600px;
	margin: auto;
    
  }



a{
  color:light-dark(var(--light-primary), var(--dark-primary));
}
  
.card-header{
  background-color: light-dark(var(--light-primary), var(--dark-primary));
  text-align: center;
  color: light-dark(var(--light-color), var(--dark-color));
}

.card-title{
  text-align: center;
  
}

  .card-line{
    border-spacing: 0;
  }
   

  .card-content{
    padding: 40px;
  }

  .card {
    --dark-bg: #000;
    --light-bg: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid light-dark(var(--light-primary), var(--dark-primary));
    position:relative;
    flex-direction: column;
    background-color: light-dark(var(--dark-bg), var(--light-bg));
  }

  img{
    width: 180px;
    border-radius: 120px;
    margin-bottom: -95px;
    border-color: light-dark(var(--light-primary), var(--dark-primary));
    border-width: 3px;
    border-style: solid;
 }
  
  .card:hover {
    border: 1px solid light-dark(var(--dark-primary), var(--light-primary));
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.12);
  }
  
  .card-border{
    display: flex;    
    border-radius: 8px;
    border: 1px solid light-dark(var(--light-primary), var(--dark-primary));
    align-items: center;
    gap: 20px;
    padding: 1px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    margin: 0px;
  }

  .flex-grow{
    flex-grow: 1;
  }
  

  .card-svg{
    height: 90px;
    width: 90px;
  }

  .card-border:hover{
    border: 1px solid light-dark(var(--light-primary), var(--dark-primary));
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.12);
  }


  .changing-theme{
    margin: 20px;
    padding: 10px;
  }
  